.contact-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

td, th{
  padding: 20px;
}

th {
  text-align: left;
}

.details-contact-photo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: 20px;
}
