<form name="newContactForm" ng-submit="newContactForm.$valid && contactCtrl.addContact()" novalidate>
  <div class="form-group" ng-class="{'has-error': !contactCtrl.newContact.name}">
    <label class='control-label'>Name</label>
    <input class='form-control' type="text" ng-model="contactCtrl.newContact.name" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !contactCtrl.newContact.email}">
    <label class='control-label'>Email</label>
    <input class='form-control' type="email" ng-model="contactCtrl.newContact.email" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !contactCtrl.newContact.phone}">
    <label class='control-label'>Phone</label>
    <input class='form-control' type="tel" ng-model="contactCtrl.newContact.phone" required>
  </div>
  <div class="form-group">
    <label class='control-label'>Group</label><select ng-model="contactCtrl.newContact.group">
      <option value="{{key}}" ng-repeat="(key, value) in contactCtrl.groups">{{value}}</option>
    </select>
    <input type="submit" value="Add Contact" ng-show="newContactForm.$valid">
  </div>
</form>
